{% extends "network/layout.html" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6" style="text-align:left;">
                    <h3 class="display-4">{{ person.get_full_name }}
                    <h6>@{{ person.username }}</h6>
                </div>
                <div class="col-6" style="margin-top:25px;">
                    {%if person.username != user.username and user.is_authenticated %}
                        {% if person not in request.user.get_following %}
                        <form action="{% url 'follow' %}" method="POST">{% csrf_token %}
                            <input value="{{ person.pk }}" name="to_user" hidden>
                            <button type="submit" class="btn btn-outline-primary">Follow</button>
                        </form>
                        {% else %}
                        <form action="{% url 'unfollow' %}" method="POST">{% csrf_token %}
                            <input value="{{ person.pk }}" name="to_user" hidden>
                            <button type="submit" class="btn btn-outline-primary">Following</button>
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-6" style="text-align:left;">
                    <p class="lead">Joined: {{ person.date_joined }} </p>
                </div>
                <div class="col-6" style="text-align:left;">
                    <p class="lead">Total Posts: {{ posts|length }} </p>
                </div>
                <div class="col-6" style="text-align:left;">
                    <p class="lead">Followers: {{ person.get_followers|length }} </p>
                </div>
                <div class="col-6" style="text-align:left;">
                    <p class="lead">Following: {{ person.get_following|length }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:40px;">
        {% if posts|length == 0%}
            <div class="row justify-content-center">
            <div class='col-8' style="text-align:center"><h3>No posts yet!!!</h3></div>
            </div>
        {% else %}
            <div class="row justify-content-center" id="posts_div">
                {% for post in posts %}
                <div class="card post col-8" style="margin:3px; padding:1px">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title"><a href="{% url 'profile' post.poster.pk %}">{{post.poster.get_full_name}} <span id="username">- @{{post.poster.username}}<span></a></h5>
                            </div>
                            {% if post.poster == user %}
                            <div class="col">
                                <a href="{% url 'edit_post' post.pk %}" class="card-link">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="card-text">{{ post.content }}</p>
                        </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col-2">
                                <a id="{{post.pk}}" onclick="Like(this)" class="card-link">
                                {% if user in post.likes.all %}
                                    <i class="far fa-heart" hidden></i>
                                    <i class="fas fa-heart" style="color:red;"></i>
                                    <span>{{ post.likes.all|length }}</span>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart" style="color:red;" hidden></i>
                                    <span>{{ post.likes.all|length }}</span>
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-6 mt-2">
                                <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav class="mt-2">
                <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                        <li class="page-item">
                            <a class='page-link' href="?page=1">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a class='page-link' href="?page={{ posts.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item active"><a class='page-link' >Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class='page-link' href="?page={{ posts.next_page_number }}">next</a>
                        </li>
                        <li class="page-item">
                            <a class='page-link'href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {%endif%}
    </div>

    <script>        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function Like(o){
            post_id = o.id;
            if (o.children[0].hidden == false){
                fetch("/like", {
                    method: "post",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: `post_id=${post_id}`
                })
                .then(response => response.json())
                .then(data => {
                    if(data.message == "Post Liked"){
                        o.children[0].hidden = true;
                        o.children[1].hidden = false;
                        o.children[2].innerHTML = data.count;
                    }
                    else{
                        alert("Please Login First.");
                        window.location.href = window.location.origin+"/login";
                    }
                })
                // Catch any errors and log them to the console
                .catch(error => {
                    console.log('Error:', error);
                });
            }
            else{
                fetch("/removelike", {
                    method: "post",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: `post_id=${post_id}`
                })
                .then(response => response.json())
                .then(data => {
                    o.children[0].hidden = false;
                    o.children[1].hidden = true;
                    o.children[2].innerHTML = data.count;
                })
                // Catch any errors and log them to the console
                .catch(error => {
                    console.log('Error:', error);
                });
            }
            return false;
        }
    </script>
{% endblock %}